/**************************************
GENERAL
**************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-base;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}



/**************************************
HEADER + NAVIGATION
**************************************/

header {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    border-width: 0 5px 10px 5px;
    border-style: solid;
    border-bottom-left-radius: 130% 170%;
    border-bottom-right-radius: 130% 170%;
    border-color: $header-border-colour;
    background: $header-background-colour;

    .title {
        color: $header-text-colour;
    }

    nav {
        margin-bottom: 10px;

        ul {
            list-style: none;
        }

        li {
            display: inline-block;
        }

        a {
            padding: 15px 10px;
            font-size: 1.1em;
            font-weight: bold;
            color: $header-text-colour;

            &:hover {
                color: $header-text-hover-colour;
            }
        }        
    }
}

h1 {
    font-family: $font-family-heading;
    padding: 5px 0 15px 0;
}



/**************************************
TABLE
**************************************/

table {
    width: 100%;
    border-radius: 10px;
}

thead th {
    border-radius: 10px;
}



/**************************************
FOOTER
**************************************/

footer {
    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 130% 170%;
    border-top-right-radius: 130% 170%;
    text-align: center;
    background: $footer-background-colour;
    color: $footer-text-colour;
}

footer p {
    padding: 10px;
    font-size: 0.75em;
}
