/**************************************
FONTS
**************************************/
$font-family-base: 'Lato', sans-serif;
$font-family-heading: 'Coustard', serif;


/**************************************
COLOURS
**************************************/

/* Greens, light to dark */
$caper: #CCEB9D;
$celery: #9DC462;
$sushi: #749D34;
$dell: #4F7514;
$verdun-green: #2F4E00;

/* Browns, light to dark */
$navajo-white: #FFDBAA;
$whiskey: #D4A76A;
$copper: #AA7939;
$raw-umber: #805215;
$saddle-brown: #553100;

/* Yellows, light to dark */
$vis-vis: #FFF5AA;
$tacha: #D4C86A;
$luxor-gold: #AA9D39;
$olivetone: #807315;
$verdun-brown: #554B00;

/* Greys, light to dark */
$alto: #DDDDDD;
$silver-chalice: #AAAAAA;

$black: #000000;
$white: #FFFFFF;
